---
layout: 'default'
---

section
	h1 Myplanet Digital
	h2 Slide Deck

section
	h2 Thank You
	dl
		dt Download
		dd
			a(href="http://github.com/myplanetdigital/myplanetdigital-slidedeck") GitHub
		dt Twitter
		dd
			a(href="http://twitter.com/myplanethq") @MyplanetHQ