---
layout: 'default'
---

section
	h1 Myplanet Digital
	h2 Slide Deck

section(data-state='header')
	h1 Header title

section(data-state='subheader')
	h2 Subheader title

section
	h3 Focus
	p This slide gives focus to an area.

section(data-state='content')
	h2 Content Title
	ul
		li This is some content.
		li Content goes here.
		li Yes it does

section(data-state='content2')
	h3 More Content
	ul
		li
			strong Use a variety of slides
		li To keep things interesting.

section(data-background='vendor/myplanetdigital-revealjs/images/fullscreen-background.jpg')

section(data-state='content')
	h3 We're a design and technology company.
	h3
		| We use
		strong  open platforms
		|  to create meaningful
		strong  user experiences
		|  on an enterprise scale.

section(data-state='content3')
	h1
		strong Big point.

section(data-state='content2')
	h2
		strong Another big point.

section(data-state='content')
	blockquote Quote or idea goes here in a paragraph.

section(data-background='subheader')
	img(src="vendor/myplanetdigital-revealjs/images/logo.png")

	h3 Contact Us
	dl
		dt Joe Schmo
		dd Digital Strategist
		dt C 647.519.3878
		dd W 1.866.232.7456
		dt Toronto, Ontario
		dd 252 Adelaide St. East